@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
  margin: 0;
  display: flex;
}
*{
  transition: all 0.1s;
  margin: 0;
  padding: 0;
}
:root{
  --theme: black;
  --font-color: white;
  --border-color:rgba(255, 255, 255, 0.521);
  --transparent-layer:rgba(0, 0, 0, 0.445);
  --bottom:-1210px
}
#root{
  width: 100%;  
  background-color:var(--theme);
  color: var(--font-color);
  z-index: 0;
}
video{
  width: 100%;  
}
img{
  width: 100%;
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
}
.btn:hover{
  border:none !important
}
.btn{
  color: var(--font-color ) !important;
  border: none !important;
}
